In [391]:
import pandas as pd 
import numpy as np
import json

In [392]:
data = {"name":["ege","ertugrul","batu","alex","lena","tunjar"],
"job":["data-scientist","product manager","Data Analyst","software developer","Big Data Architect","CEO"],
"age":[18,18,17,28,32,34]}
df = pd.DataFrame(data)
#! df.index = np.arange(1, len(df)+1)
raw_data = df[df["age"] > 17]
raw_data

       name                 job  age
0       ege      data-scientist   18
1  ertugrul     product manager   18
3      alex  software developer   28
4      lena  Big Data Architect   32
5    tunjar                 CEO   34

In [393]:
raw_data.loc[raw_data[raw_data["name"] == "ertugrul"].index,"age"] = 19
raw_data.to_csv('../research.csv', index=False)

In [435]:
df_csv = pd.read_csv("../research.csv",sep=',')
df_csv.to_json("temp.json",orient="records",lines=False,indent=4)
with open('temp.json',"r") as file:
    json_format= file.read()
    python_list = json.loads(json_format)
python_list

[{'name': 'ege', 'job': 'data-scientist', 'age': 18},
 {'name': 'ertugrul', 'job': 'product manager', 'age': 19},
 {'name': 'alex', 'job': 'software developer', 'age': 28},
 {'name': 'lena', 'job': 'Big Data Architect', 'age': 32},
 {'name': 'tunjar', 'job': 'CEO', 'age': 34}]